body {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.head {
  width: 100%;
  text-align: center;
  padding-top: 0px;
  font-size: 60px;
}

.github-link {
  text-align: right;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.github-link img {
  width: 25px;
  height: auto;
}

.github-link a {
  color: white;
  text-decoration: none;
}

button {
  padding: 0px;
  margin: 0px;
  background-color: rgb(25, 24, 24);
  color: white;
  width: 80px;
  height: 80px;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  border: 2px rgb(25, 24, 24) solid;
  border-radius: 50%;
  transition-duration: 10ms;
}

button:hover {
  background-color: black;
  color: white;
}

.display {
  text-align: right;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 5px rgb(25, 24, 24) solid;
  border-radius: 10px;
  padding: 10px;
}

.inputdata {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operator-button {
  background-color: orange;
  border-color: orange;
}

#calculate {
  background-color: orange;
  border-color: orange;
  transition-duration: 10ms;
}

#calculate:hover {
  background-color: black;
  color: white;
}

.digits {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
